@font-face {
    font-family: "Orbitron";
    font-display: "swap";
    font-weight: 400 900;
    src: url("fonts/Orbitron-VariableFont_wght.ttf");
}

:root {
    --grid-square-min-px: 220px;

    --gap-large: 16px;
    --gap-small: 8px;

    --weight-large: "wght" 900;
    --weight-small: "wght" 550;

    --color-text-default: #bfbfbf;
    --color-text-heading: #fff;
    --color-text-overlay: #fff;
    --color-cta: #e3a23a;
    --color-border: #fff;
    --color-background: #101011;

    --gradient-background: radial-gradient(
        ellipse at center,
        #272829 0%,
        #101011 100%
    );
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    width: 100%;
    height: 100%;
}

/* TEXT ------------------------------------------ */
/* https://seek-oss.github.io/capsize/ */
.textLarge {
    font-size: 23.6111px;
    line-height: 25px;
}

.textLarge::before {
    content: "";
    margin-bottom: -0.1934em;
    display: table;
}

.textLarge::after {
    content: "";
    margin-top: -0.1454em;
    display: table;
}

.textSmall {
    font-size: 13.8889px;
    line-height: 18px;
}

.textSmall::before {
    content: "";
    margin-bottom: -0.312em;
    display: table;
}

.textSmall::after {
    content: "";
    margin-top: -0.264em;
    display: table;
}

svg#defs {
    width: 0;
    height: 0;

    position: absolute;

    pointer-events: none;
}

/* GRID --------------------------------------------- */
body {
    width: 100%;
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Orbitron", sans-serif;

    background: var(--gradient-background);
    background-attachment: fixed;

    -webkit-font-smoothing: antialiased;
    overscroll-behavior: none;
}

div#grid {
    width: 100%;
    max-width: calc(3 * var(--grid-square-min-px));

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/* SQUARE --------------------------------------------- */
.square {
    width: 100%;
    aspect-ratio: 1 / 1;

    position: relative;
    display: flex;
}

*.primary {
    width: 100%;
    aspect-ratio: 1 / 1;
}

*.secondary {
    width: 100%;
    aspect-ratio: 1 / 1;

    position: absolute;
    bottom: 0;
    left: 0;

    display: none;
}

.square:hover > *.primary {
    display: none;
}

.square:hover > *.secondary {
    display: unset;
}

/* HEADER ---------------------------------------------------- */
header {
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 0 var(--gap-small);

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-small);

    color: var(--color-background);
    background: var(--color-cta);
}

header h1 {
    font-variation-settings: var(--weight-large);
}

header p {
    font-variation-settings: var(--weight-small);
}

header:hover h1,
header:hover p {
    display: none;
}

header:hover img {
    display: unset;
}

/* DOOM ------------------------------------------------------ */
section#doom {
    width: 100%;
    aspect-ratio: 1 / 1;

    position: relative;
}

@keyframes doom {
    0%,
    33% {
        opacity: 1;
    }
    34%,
    100% {
        opacity: 0;
    }
}

section#doom > img {
    width: 100%;
    aspect-ratio: 1 / 1;

    position: absolute;
    top: 0;
    left: 0;

    filter: grayscale(1);
    opacity: 0;

    animation: doom 3s linear infinite;
}

section#doom > img:nth-child(2) {
    animation-delay: 1s;
}

section#doom > img:nth-child(3) {
    animation-delay: 2s;
}

img#aliens {
    width: 100%;
    aspect-ratio: 1 / 1;

    position: absolute;
    top: 0;
    left: 0;

    display: none;
}

svg#hud {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

svg#hud text {
    font-variation-settings: var(--weight-small);
    font-size: 6px;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    fill: var(--color-text-overlay);
}

.square:hover > section#doom {
    display: none;
}

.square:hover > img#aliens {
    display: unset;
}

/* PROJECTS ---------------------------------------------------- */
main#projects {
    width: 100%;
    aspect-ratio: 1 / 1;

    position: relative;
}

main#projects svg {
    width: 100%;
    aspect-ratio: 1 / 1;

    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;
}

main#projects svg path {
    stroke: var(--color-border);
}

main#projects div.textLayout {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-small);

    color: var(--color-text-default);
}

main#projects h1 {
    color: var(--color-text-heading);
    font-variation-settings: var(--weight-large);
    letter-spacing: 0.2em;
}

/* MATRIX ------------------------------------------------------ */
section#matrix {
    width: 100%;
    height: 100%;

    position: relative;
    overflow: hidden;
}

section#matrix .col {
    height: 100%;

    position: absolute;
    top: -4px;

    display: flex;
    flex-direction: column;
}

section#matrix .col span {
    color: var(--color-text-default);
    line-height: 1.1;
    font-size: 12px;
}

.square:hover section#matrix {
    display: none;
}

/* MTV ------------------------------------------------------ */
video#mtv {
    filter: grayscale(1);
}

div.vignette {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    /* prettier-ignore */
    box-shadow: 
        inset 0 0 50px hsla(0, 0%, 0%, 0.7),
        inset 0 0 50px hsla(0, 0%, 0%, 1);
    background: radial-gradient(
        hsla(0, 0%, 0%, 0) 30%,
        hsla(0, 0%, 0%, 0.1) 50%,
        hsla(0, 0%, 0%, 0.4) 90%,
        hsla(0, 0%, 0%, 0.6) 100%
    );
}

/* JOHNNY_CAB ------------------------------------------------------ */
section.johnnyCab {
    width: 100%;
    height: 100%;

    position: relative;
}

section.johnnyCab img {
    width: 100%;
    aspect-ratio: 1 / 1;

    position: absolute;
    top: 0;
    left: 0;
}

@keyframes johnnyCab {
    0%,
    50% {
        opacity: 1;
    }
    51%,
    100% {
        opacity: 0;
    }
}

section.johnnyCab img:nth-child(2),
section.johnnyCab img:nth-child(3) {
    opacity: 0;
    animation: johnnyCab 2s linear infinite;
}

section.johnnyCab img:nth-child(3) {
    animation-delay: 1s;
}

img#xMen {
    width: 100%;
    aspect-ratio: 1 / 3;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    display: none;
    pointer-events: none;
}

.square.johnnyCab:hover section.johnnyCab {
    display: none;
}

.square.johnnyCab:hover img#xMen {
    display: unset;
}

/* FOOTER ---------------------------------------------------- */
footer {
    width: 100%;
    height: 100%;

    position: relative;
    overflow: hidden;

    padding: 0 var(--gap-large);
    display: flex;

    color: var(--color-text-default);
    border: 1px solid var(--color-border);
}

@keyframes toastie {
    0%,
    10% {
        transform: translateX(0);
    }

    11%,
    14% {
        transform: translateX(-100%);
    }

    15% {
        transform: translateX(0);
    }
}

footer img {
    width: 100%;
    aspect-ratio: 1 / 1;

    position: absolute;
    bottom: 0;
    left: 100%;

    animation: toastie 24s linear infinite;
}

/* LINK LIST ---------------------------------------------------- */
ul.links {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    list-style: none;
}

ul.links li {
    width: 100%;
    display: flex;
}

ul.links a {
    width: 100%;
    padding: var(--gap-small) 0;

    color: var(--color-text-default);
    text-decoration: underline;
    cursor: pointer;
    font-variation-settings: var(--weight-small);
}

ul.links a.cta {
    color: var(--color-cta);
}

ul.links a:hover {
    background: var(--color-cta);
    color: var(--color-background);
}

ul.links a:focus {
    outline: 1px solid var(--color-cta);
}

/* scrollbar ------------------------------------------- */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--color-background);
}

::-webkit-scrollbar-thumb {
    background: var(--color-text-default);
    border: 2px solid var(--color-background);
}

/* MEDIA_QUERIES ---------------------------------------------------- */
@media (max-width: 660px) {
    div#grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-auto-flow: row dense;
    }

    header {
        padding: 0 var(--gap-large);
    }

    div#beBopSquare {
        grid-column: 2;
    }

    /* To form a rectangle, MTV is dropped in 2 column layout */
    div#mtvSquare {
        display: none;
    }

    main#projects {
        padding: 0 var(--gap-large);
    }

    main#projects h1 {
        display: none;
    }

    ul.links a {
        width: 100%;

        padding: 17px 0;
    }
}

@media (max-width: 440px) {
    :root {
        --gap-small: 16px;
        --gap-large: 24px;
    }

    .textLarge {
        font-size: 29.1667px;
        line-height: 33px;
    }

    .textLarge::before {
        margin-bottom: -0.2297em;
    }

    .textLarge::after {
        margin-top: -0.1817em;
    }

    .textSmall {
        font-size: 18.0556px;
        line-height: 25px;
    }

    .textSmall::before {
        margin-bottom: -0.3563em;
    }

    .textSmall::after {
        margin-top: -0.3083em;
    }

    div#grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
    }

    div#beBopSquare {
        grid-column: unset;
    }

    /* MTV isn't displayed on mobile because large payload. Hackers is displayed instead. */
    div#mtvSquare,
    img#hackers {
        display: unset;
    }
    video#mtv {
        display: none;
    }

    main#projects h1 {
        display: unset;
    }
}
