@font-face {
    font-family: "Orbitron";
    font-display: "swap";
    font-weight: 400 900;
    src: url("/fonts/Orbitron-VariableFont_wght.ttf");
}

:root {
    --px-grid-square: 220px;
    --px-gap-large: 24px;
    --px-gap-med: 12px;

    --color-text-default: #bfbfbf;
    --color-text-heading: #fff;
    --color-cta: #e3a23a;
    --color-background: #101011;
    --color-border: #fff;
    --gradient-background: radial-gradient(
        ellipse at center,
        #272829 0%,
        #101011 100%
    );
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;

    display: grid;
    grid-template-rows: repeat(3, var(--px-grid-square));
    grid-template-columns: repeat(3, var(--px-grid-square));
    justify-content: center;
    align-content: center;

    font-family: "Orbitron", sans-serif;
    /* background: var(--color-background); */
    background: var(--gradient-background);

    -webkit-font-smoothing: antialiased;
    overscroll-behavior: none;
}

/* text ------------------------------------------ */
/* https://seek-oss.github.io/capsize/ */
.textLarge {
    font-size: 23.6111px;
    line-height: 25px;

    font-variation-settings: "wght" 900;
    text-transform: uppercase;
}

.textLarge::before {
    content: "";
    margin-bottom: -0.1934em;
    display: table;
}

.textLarge::after {
    content: "";
    margin-top: -0.1454em;
    display: table;
}

.textMed {
    font-size: 13.8889px;
    line-height: 18px;

    font-variation-settings: "wght" 800;
    text-transform: uppercase;
}

.textMed::before {
    content: "";
    margin-bottom: -0.312em;
    display: table;
}

.textMed::after {
    content: "";
    margin-top: -0.264em;
    display: table;
}

/* header ---------------------------------------------------- */
header {
    width: 100%;
    height: 100%;
    padding: var(--px-gap-med);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--px-gap-large);

    color: var(--color-background);
    background: var(--color-cta);
}

/* projects ---------------------------------------------------- */
main.projects {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--px-gap-large);

    color: var(--color-text-default);
}

main.projects ul {
    display: flex;
    flex-direction: column;
    justify-content: center;

    list-style: none;
}

/* img / video ---------------------------------------------------- */
img {
    width: 100%;
    height: 100%;

    display: block;
    object-fit: contain;
}

img.matrix {
    filter: grayscale(1);
    object-fit: cover;
}

img.johnnyCab {
    filter: grayscale(1);
    transform: scaleX(-1);
}

img.doom {
    filter: grayscale(1);
}

video {
    filter: grayscale(1);
}

/* projects ------------------------------------------------------ */
div.projectsLayout {
    width: 100%;
    height: 100%;

    position: relative;
}

div.projectsLayout > main {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

div.projectsLayout main h1 {
    color: var(--color-text-heading);
}

div.projectsLayout > svg {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

div.projectsLayout > svg path {
    stroke: var(--color-border);
}

/* footer ---------------------------------------------------- */
footer {
    width: 100%;
    height: 100%;

    padding: var(--px-gap-large);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--px-gap-med);

    color: var(--color-text-default);
    border: 1px solid var(--color-border);
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;

    list-style: none;
}

/* clickables ---------------------------------------------------- */
li {
    display: flex;
}

a {
    width: 100%;
    padding: 6px 0;

    color: var(--color-text-default);
    text-decoration: underline;
    cursor: pointer;
}

a.cta {
    color: var(--color-cta);
}

a:hover {
    background: var(--color-cta);
    color: var(--color-background);
}

a:focus {
    outline: 1px solid var(--color-cta);
}
