@font-face {
    font-family: "Orbitron";
    font-display: "swap";
    font-weight: 400 900;
    src: url("/fonts/Orbitron-VariableFont_wght.ttf");
}

:root {
    --px-square: 220px;
    --px-gap-large: 64px;
    --px-gap-med: 24px;
    --px-gap-small: 12px;

    --color-text-default: #bfbfbf;
    --color-text-heading: #fff;
    --color-text-overlay: #fff;
    --color-cta: #e3a23a;
    --color-border: #fff;
    --color-background: #101011;
    --gradient-background: radial-gradient(
        ellipse at center,
        #272829 0%,
        #101011 100%
    );
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html {
    height: 100%;
}

/* text ------------------------------------------ */
/* https://seek-oss.github.io/capsize/ */
.textLarge {
    font-size: 23.6111px;
    line-height: 25px;

    font-variation-settings: "wght" 900;
    text-transform: uppercase;
}

.textLarge::before {
    content: "";
    margin-bottom: -0.1934em;
    display: table;
}

.textLarge::after {
    content: "";
    margin-top: -0.1454em;
    display: table;
}

.textMed {
    font-size: 13.8889px;
    line-height: 18px;

    font-variation-settings: "wght" 800;
    text-transform: uppercase;
}

.textMed::before {
    content: "";
    margin-bottom: -0.312em;
    display: table;
}

.textMed::after {
    content: "";
    margin-top: -0.264em;
    display: table;
}

svg.defs {
    width: 0;
    height: 0;

    position: absolute;

    pointer-events: none;
}

/* grid --------------------------------------------- */
body {
    width: 100%;
    min-height: 100%;
    padding: var(--px-gap-large, 0);

    display: grid;
    grid:
        "header prince beBop" var(--px-square)
        "doom projects matrix" var(--px-square)
        "mtv johnnyCab footer" var(--px-square)
        / var(--px-square) var(--px-square) var(--px-square);

    justify-content: center;
    align-content: center;

    font-family: "Orbitron", sans-serif;

    background: var(--gradient-background);
    background-attachment: fixed;

    -webkit-font-smoothing: antialiased;
    overscroll-behavior: none;
}

@media (max-width: 660px) {
    body {
        display: grid;
        grid:
            "header prince" var(--px-square)
            "projects beBop" var(--px-square)
            "doom matrix" var(--px-square)
            "johnnyCab footer" var(--px-square)
            / var(--px-square) var(--px-square);
    }

    video.mtv {
        display: none;
    }
}

@media (max-width: 440px) {
    body {
        padding: calc((100% - 220px) / 2) 0;

        display: grid;
        grid:
            "header" var(--px-square)
            "prince" var(--px-square)
            "mtv" var(--px-square)
            "projects" var(--px-square)
            "beBop" var(--px-square)
            "doom" var(--px-square)
            "matrix" var(--px-square)
            "johnnyCab" var(--px-square)
            "footer" var(--px-square)
            / var(--px-square);
    }

    video.mtv {
        display: unset;
    }
}

/* header ---------------------------------------------------- */
header {
    grid-area: header;

    width: 100%;
    height: 100%;
    padding: var(--px-gap-small);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--px-gap-small);

    color: var(--color-background);
    background: var(--color-cta);
    filter: url(#distressFilter);
}

/* beBop ------------------------------------------------------ */
img.beBop {
    grid-area: beBop;
}

/* beBop ------------------------------------------------------ */
video.mtv {
    grid-area: mtv;
    filter: grayscale(1);
}

/* johnnyCab ------------------------------------------------------ */
@keyframes johnnyCab {
    0%,
    50% {
        opacity: 1;
    }
    51%,
    100% {
        opacity: 0;
    }
}

section.johnnyCab {
    grid-area: johnnyCab;

    width: 100%;
    height: 100%;

    position: relative;
}

section.johnnyCab img {
    position: absolute;
    top: 0;
    left: 0;

    transform: scaleX(-1);
}

section.johnnyCab img:nth-child(2),
section.johnnyCab img:nth-child(3) {
    opacity: 0;
    animation: johnnyCab 2s infinite;
}

section.johnnyCab img:nth-child(3) {
    animation-delay: 1s;
}

/* doom ------------------------------------------------------ */
section.doom {
    grid-area: doom;

    width: 100%;
    height: 100%;

    position: relative;
}

@keyframes doom {
    0%,
    33% {
        opacity: 1;
    }
    34%,
    100% {
        opacity: 0;
    }
}

section.doom > img {
    position: absolute;
    top: 0;
    left: 0;

    filter: grayscale(1);
    opacity: 0;

    animation: doom 3s infinite;
}

section.doom > img:nth-child(2) {
    animation-delay: 1s;
}

section.doom > img:nth-child(3) {
    animation-delay: 2s;
}

section.doom svg {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;
}

section.doom svg text {
    font-variation-settings: "wght" 700;
    font-size: 6px;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    fill: var(--color-text-overlay);
}

/* matrix ------------------------------------------------------ */
section.matrix {
    grid-area: matrix;

    width: 100%;
    height: 100%;

    position: relative;
    overflow: hidden;
}

section.matrix .col {
    height: 100%;

    position: absolute;
    top: -4px;

    display: flex;
    flex-direction: column;
}

section.matrix .col span {
    color: var(--color-text-default);
    line-height: 1.1;
    font-size: 12px;
}

/* projects ---------------------------------------------------- */
main.projects {
    grid-area: projects;

    width: 100%;
    height: 100%;

    position: relative;
}

main.projects svg {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;
}

main.projects svg path {
    stroke: var(--color-border);
}

main.projects div {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--px-gap-med);

    color: var(--color-text-default);
}

main.projects h1 {
    color: var(--color-text-heading);
}

main.projects ul {
    display: flex;
    flex-direction: column;
    justify-content: center;

    list-style: none;
}

/* footer ---------------------------------------------------- */
footer {
    grid-area: footer;

    width: 100%;
    height: 100%;

    position: relative;
    overflow: hidden;

    padding: var(--px-gap-med);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--px-gap-small);

    color: var(--color-text-default);
    border: 1px solid var(--color-border);
}

@keyframes toastie {
    0%,
    10% {
        transform: translateX(0);
    }

    11%,
    13% {
        transform: translateX(-100%);
    }

    14% {
        transform: translateX(0);
    }
}

footer img {
    position: absolute;
    bottom: 0;
    left: 100%;

    animation: toastie 38s infinite;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;

    list-style: none;
}

/* clickables ---------------------------------------------------- */
li {
    display: flex;
}

a {
    width: 100%;
    padding: 6px 0;

    color: var(--color-text-default);
    text-decoration: underline;
    cursor: pointer;
}

a.cta {
    color: var(--color-cta);
}

a:hover {
    background: var(--color-cta);
    color: var(--color-background);
}

a:focus {
    outline: 1px solid var(--color-cta);
}
