*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
}

img,
picture,
video,
canvas,
svg,
iframe {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong {
  font-weight: 400;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

input {
  border: none;
}
