@font-face {
    font-family: "Orbitron";
    font-display: "swap";
    font-weight: 400 900;
    src: url("/fonts/Orbitron-VariableFont_wght.ttf");
}

:root {
    --color-text-default: #bfbfbf;
    --color-text-heading: #fff;
    --color-text-cta: #e3a23a;
    --color-background: #1f2023;
    /* --gradient-background: radial-gradient(
        ellipse at center,
        #272829 0%,
        #101011 100%
    ); */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html,
body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    overscroll-behavior: none;

    font-family: monospace;
    font-size: 14px;

    color: var(--color-text-default);
    background: var(--color-background);

    font-family: "Orbitron", sans-serif;
}

img,
picture,
video,
canvas,
svg,
iframe {
    display: block;
}

h1 {
    font-size: 18px;
    font-variation-settings: "wght" 700;
    text-transform: uppercase;
    overflow-wrap: break-word;
    color: var(--color-text-heading);
}

h2,
h3,
h4,
h5,
h6,
p,
strong {
    font-size: 14px;
    font-variation-settings: "wght" 400;
    overflow-wrap: break-word;
}

a {
    color: var(--color-text-default);
    text-decoration: underline;
}

ul,
ol {
    list-style: none;
}

input {
    border: none;
}

a.cta {
    color: var(--color-text-cta);
}
