body {
    min-height: 100%;

    position: relative;

    padding: 40px;
    padding-top: calc(50vh - 12px);

    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: var(--gap);
    justify-content: end;
    align-content: start;

    font-family: "Courier", monospace;
    color: var(--color-text-dark);

    background-image: radial-gradient(
        ellipse at 60% 60%,
        var(--color-gradient-center) 0%,
        var(--color-gradient-outer) 65%
    );
    background-attachment: fixed;
    overscroll-behavior: none;
}
