@keyframes flicker {
    0% {
        opacity: 1;
    }
    5% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    15% {
        opacity: 0.1;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 0.2;
    }
    30% {
        opacity: 1;
    }
    35% {
        opacity: 0.3;
    }
    40% {
        opacity: 1;
    }
    45% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    55% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
    }
    65% {
        opacity: 0.6;
    }
    70% {
        opacity: 1;
    }
    75% {
        opacity: 0.7;
    }
    80% {
        opacity: 1;
    }
    85% {
        opacity: 0.8;
    }
    90% {
        opacity: 1;
    }
    95% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

#edLayout {
    grid-row: 1 / -1;
    grid-column: 1;

    width: 100%;

    position: relative;
    overflow: hidden;
    z-index: var(--z-index-edward);

    pointer-events: none;

    svg {
        width: 100%;
        min-width: 460px;

        position: absolute;
        top: 45vh;
        right: 0;
        translate: 0 -50%;

        fill: var(--red-dark);

        animation-name: flicker;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
}

@media (max-width: 900px) {
    #edLayout {
        grid-area: ed;

        translate: 0 12px;

        svg {
            width: 360px;
            min-width: unset;
            scale: -1 1;

            top: 50%;
        }
    }
}

@media (max-width: 600px) {
    #edLayout {
        svg {
            right: unset;
            left: 38%;
        }
    }
}
