footer ul {
    display: flex;
    gap: var(--gap);
}

footer a {
    position: relative;
    transition: var(--transition);
}

footer a::after {
    content: "";

    width: 48px;
    height: 44px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer svg {
    width: 18px;
    aspect-ratio: 1;

    position: relative;
    z-index: 3;

    fill: var(--color-text-dark);
    transition: var(--transition);
}

footer a:hover svg {
    fill: var(--color-hover);
}

footer:has(a:hover) a:not(a:hover) {
    opacity: var(--opacity-hover-sybling);
}

footer a:focus-visible::after {
    outline: 1px solid var(--color-focus);
}
