header {
    display: flex;
    align-items: flex-end;
    gap: var(--gap);
}

img#bradWoodsMobile {
    display: none;
}

p#job {
    color: var(--color-gradient-center);
    transform: translateY(-3px);
}
