#line {
    width: 100%;
    height: var(--height-line);

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: var(--z-index-line);

    background: var(--color-line);
}
