@media (max-width: 1328px) {
    #edwardLayout svg {
        transform: translateX(-120px);
    }
}

@media (max-width: 1080px) {    
    body {
        padding: 180px 0 64px 120px;

        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-content: start;
        gap: 64px;
    }

    #line {
        width: var(--height-line);
        height: calc(100% - 200px);
    
        left: 28px;
        top: unset;
        transform: unset;
        bottom: 0;
    
        z-index: var(--z-index-infront-of-crt-effect);
    }

    img#bradWoodsDesktop {
        display: none;
    }

    img#bradWoodsMobile {
        display: unset;
        position: sticky;
        top: 0px;
        z-index: var(--z-index-infront-of-crt-effect);

        transform-origin: bottom left;
        transform: rotate(90deg) translate(28px, 74px);;
    }

    p#dropHead {
        color: var(--color-text-light);
        transform: none;
    }

    #edwardLayout {
        top: 0;
        left: unset;
        right: 0;
        transform: none;

        display: flex;
        justify-content: flex-end;
    }

    #edwardLayout svg {
        width: 360px;
        transform: scaleX(-1);
    }

    header {
        flex-direction: column;
        align-items: unset;
    }

    main {
        flex-direction: column;
        align-items: unset;
    }

    #colon {
        display: none;
    }

    main ul#projects {
        flex-direction: column;
    }

    main ul#projects a {
        width: 100%;
    }

    main a::after {
        width: calc(100% + var(--paddingTapTargetMobile));
        transform: translate(calc(-50% - var(--paddingTapTargetMobile)), -50%);
    }

    main:has(a:hover) a:not(a:hover) {
        opacity: 1;
    }

    footer ul {
        flex-direction: column;
    }

    footer:has(a:hover) a:not(a:hover) {
        opacity: 1;
    }

    footer a::after {
        width: calc(100% + var(--paddingTapTargetMobile));
        height: 48px;

        transform: translate(calc(-50% - var(--paddingTapTargetMobile)), -50%);
    }
}

@media (max-width: 440px) {
    body {
        padding-top: 220px;
    }

    #line {
        height: calc(100% - 240px);
    }

    #edwardLayout svg {
        transform: translateX(140px) scaleX(-1);
    }
}
