@media (max-width: 1040px) {
    body {
        padding: 32px;
        padding-top: 308px;
        flex-direction: column;

        justify-content: unset;
        align-content: start;
        gap: 40px;

        background: radial-gradient(
            ellipse at 35% 60%,
            var(--blue-light) 0%,
            var(--blue-dark) 55%
        );
    }

    #line {
        display: none;
    }

    img#edward {
        top: 0;
        transform: none;
        width: 360px;
    }

    header {
        flex-direction: column;
        align-items: unset;
        gap: 20px;
    }

    main {
        flex-direction: column;
        align-items: unset;
    }

    main ul {
        flex-direction: column;
    }

    footer ul {
        flex-wrap: wrap;
    }
}

@media (max-width: 440px) {
    body {
        padding-top: 260px;
    }

    img#edward {
        transform: translateX(-120px);
    }

    footer ul li:nth-child(5) ~ li {
        display: none;
    }
}
