*,
*::before,
*::after {
    min-width: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    height: 100%;

    font-size: calc(100% / 16 * 10);
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

h1,
h2 {
    font-weight: 400;
}

img,
svg {
    display: block;
}

ul {
    list-style: none;
}

a {
    color: inherit;
}
