*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    height: 100%;
}

h1,
h2 {
    font-weight: 400;
}

img,
svg {
    display: block;
}

ul {
    list-style: none;
}

a {
    color: inherit;
}
