*,
*::before,
*::after {
    min-width: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    height: 100%;

    font-family: "Courier", monospace;
    font-size: calc(100% / 16 * 10);
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    color: var(--white-med);
    background: var(--color-gradient-outer);
}

body {
    overscroll-behavior-y: none;
}

h1,
h2 {
    font-weight: 400;
}

img,
svg {
    display: block;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}
