:root {
    --white-light: hsl(0, 0%, 90%);
    --white-med: hsl(0, 0%, 60%);
    --white-dark: hsl(0, 0%, 45%);
    --red-light: hsl(7, 68%, 61%);
    --red-med: hsl(7, 58%, 54%);
    --red-dark: hsl(0, 100%, 34%);
    --blue-light: hsl(210, 2%, 16%);
    --blue-dark: hsl(240, 3%, 6%);

    --color-focus: var(--white-light);

    --color-gradient-center: var(--blue-light);
    --color-gradient-outer: var(--blue-dark);

    --padding-projects-button: 20px;

    --gap-row: 16px;
    --gap-col: 24px;

    --z-index-background: -1;
    --z-index-edward: 1;
    --z-index-vignette: 2;
    --z-index-crt: 3;
    --z-index-infront-of-crt: 4;

    --opacity-hover-sybling: 0.5;

    --letter-spacing: 0.4em;

    --duration: 140ms;
    --ease: linear;
    --transition: all var(--duration) var(--ease);
}

@media (max-width: 900px) {
    :root {
        --gap-col: 32px;
    }
}
