:root {
    --white-light: hsl(0, 0%, 90%);
    --white-med: hsl(0, 0%, 60%);
    --white-dark: hsl(0, 0%, 40%);
    --red-light: hsl(7, 68%, 61%);
    --red-dark: hsl(7, 58%, 54%);
    --blue-light: hsl(210, 3%, 16%);
    --blue-dark: hsl(240, 3%, 6%);

    --color-text-light: var(--white-light);
    --color-text-dark: var(--white-med);
    --color-hover: var(--white-light);

    --color-cta: var(--red-dark);
    --color-cta-hover: var(--red-light);

    --color-line: var(--white-dark);

    --color-focus: var(--white-med);

    --opacity-hover-sybling: 0.5;

    --transition: all 80ms linear;

    --gap-large: 32px;
    --gap-small: 24px;

    --top-line: 50%;

    --z-index-edward: 1;
    --z-index-vignette: 2;
    --z-index-crt: 3;
    --z-index-crt-infront: 4;
}
