/* https://typescale.com/ - Marjor Third */
/* https://seek-oss.github.io/capsize/ */
.textLarge {
    font-size: 19.2547px;
    line-height: 18px;
}

.textLarge::before {
    content: "";
    margin-bottom: -0.1622em;
    display: table;
}

.textLarge::after {
    content: "";
    margin-top: -0.2013em;
    display: table;
}

.textSmall {
    font-size: 15.7538px;
    line-height: 15px;
}

.textSmall::before {
    content: "";
    margin-bottom: -0.1709em;
    display: table;
}

.textSmall::after {
    content: "";
    margin-top: -0.21em;
    display: table;
}

.bold {
    font-weight: 700;
}

.highlight {
    color: var(--color-text-light);
}