/* https://typescale.com/ - Minor Third */
/* https://seek-oss.github.io/capsize/ */

.textLarge {
    font-size: 1.9rem;
    line-height: 1.8rem;
}

.textLarge::before {
    content: "";
    margin-bottom: -0.1622em;
    display: table;
}

.textLarge::after {
    content: "";
    margin-top: -0.1213em;
    display: table;
}

.textMed {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.textMed::before {
    content: "";
    margin-bottom: -0.1709em;
    display: table;
}

.textMed::after {
    content: "";
    margin-top: -0.21em;
    display: table;
}

.bold {
    font-weight: 700;
}
