/* https://typescale.com/ - Minor Third */

.textLarge,
.textMed {
    /* Trim empty space above ascenders and below baseline */
    text-box-edge: cap alphabetic;
    text-box-trim: trim-both;
}

.textLarge {
    font-size: 1.9rem;
    line-height: 1.056;
}

.textMed {
    font-size: 1.6rem;
    line-height: 1.5;
}

.bold {
    font-weight: 700;
}
