#edLayout {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    pointer-events: none;

    svg {
        width: 40%;
        min-width: 200px;

        position: absolute;
        top: 50%;
        left: -60px;
        translate: 0 -50%;

        fill: var(--red-dark);
    }
}
