section.projects {
    grid-area: projects;

    position: relative;
    z-index: var(--z-index-above-crt);

    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-row) * 0.5);
    align-items: flex-start;

    & ul {
        padding-left: var(--padding-projects-button);
        display: none;
        flex-direction: column;

        &:has(a:hover) a:not(a:hover) {
            opacity: var(--opacity-hover-sybling);
        }

        & li {
            display: flex;

            & a {
                position: relative;

                /* To reach a11y minimum click/tap target height */
                padding: 3px 0;

                text-decoration: underline;
                color: var(--white-light);
                transition: var(--transition);

                &:focus-visible::after {
                    content: "";

                    position: absolute;
                    inset: 0 -16px;
                    outline: 1px solid var(--color-focus);
                }
            }
        }
    }
}

body[data-state="projects"] section.projects ul {
    display: flex;
}

@media (max-width: 600px) {
    section.projects {
        gap: unset;
    }

    section.projects ul li a {
        /* To reach a11y minimum click/tap target height */
        padding: 13px 0;
    }
}
